.notification {
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: var(--neutral-grayish-blue-900);

  &.unread {
    background-color: var(--neutral-grayish-blue-200);
  }
}

.notification-icon {
  display: inline-block;
  margin-inline: 0.5rem;
  width: 10px;
  aspect-ratio: 1/1;
  clip-path: circle();
  background-color: var(--primary-red);
}

.notification-name {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  color: var(--neutral-dark-blue);

  &:hover,
  &:focus {
    color: var(--primary-blue);
  }
}

.commented-on-image {
  margin-left: auto;
  img {
    width: 50px;
    height: 50px;
  }
}

.notification-type-text {
  margin-inline: 0.5rem;
}

.private-message-content {
  border: 1px solid var(--neutral-grayish-blue-600);
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--neutral-grayish-blue-200);
    transition: all 0.1s ease-in-out;
    color: var(--neutral-grayish-blue-900);
  }
}

.notification-date {
  color: var(--neutral-grayish-blue-800);
}

.notification-outcome-text {
  cursor: pointer;
  font-weight: 600;

  &:hover,
  &:active {
    color: var(--primary-blue);
  }
}
